body {
	background: #0f0f0f;
}

header {
	position: relative;
	height: 800px;
	min-height: 500px;
	width: 100%;
	background-size: cover !important;
	-webkit-background-size: cover !important;
	text-align: center;
	overflow: hidden;
}

header:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

header .banner {
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
	width: 85%;
	padding-bottom: 30px;
	text-align: center;
}

header .banner-text {
	width: 100%;
}

header .banner-text h1 {
	font: 90px/1.1em 'opensans-bold', sans-serif;
	color: #fff;
	letter-spacing: -2px;
	margin: 0 auto 18px auto;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}

header .banner-text h3 {
	font: 18px/1.9em 'librebaskerville-regular', serif;
	color: #A8A8A8;
	margin: 0 auto;
	width: 70%;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}

header .banner-text h3 span,
header .banner-text h3 a {
	color: #fff;
}

header .banner-text hr {
	width: 60%;
	margin: 18px auto 24px auto;
   border-color: rgba(162, 162, 162, 0.285);
}

header .social {
	margin: 24px 0;
	padding: 0;
	font-size: 30px;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}

header .social li {
	display: inline-block;
	margin: 0 15px;
	padding: 0;
}

header .social li a {
	color: #fff;
}

header .social li a:hover {
	color: #9df356;
}

header .scrolldown a {
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin-left: -29px;
	color: #fff;
	display: block;
	height: 42px;
	width: 42px;
	font-size: 42px;
	line-height: 42px;
	color: #fff;
	border-radius: 100%;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

header .scrolldown a:hover {
	color: #9df356;
}

#nav-wrap ul,
#nav-wrap li,
#nav-wrap a {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

#nav-wrap {
	font: 12px 'opensans-bold', sans-serif;
	width: 100%;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	margin: 0 auto;
	z-index: 100;
	position: fixed;
	left: 0;
	top: 0;
}

.opaque {
	background-color: #333;
}

#nav-wrap>a.mobile-btn {
	display: none;
}

ul#nav {
	min-height: 48px;
	width: auto;
	text-align: center;
}

ul#nav li {
	position: relative;
	list-style: none;
	height: 48px;
	display: inline-block;
}

ul#nav li a {
	display: inline-block;
	padding: 8px 13px;
	line-height: 32px;
	text-decoration: none;
	text-align: left;
	color: #fff;
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

ul#nav li a:active {
	background-color: transparent !important;
}

ul#nav li a:hover {
	color: #c5fb98;
}

ul#nav li.current a {
	color: #9df356 !important;
}

#about {
	background: #2B2B2B;
	padding-top: 66px;
	padding-bottom: 66px;
   overflow: hidden;
}

#about a,
#about a:visited {
	color: #fff;
}

#about a:hover,
#about a:focus {
	color: #9df356;
}

#about h2 {
	font: 22px/30px 'opensans-bold', sans-serif;
	color: #fff;
	margin-bottom: 12px;
}

#about p {
	line-height: 30px;
	color: #7A7A7A;
}

#about .profile-pic {
	position: relative;
	width: 120px;
	height: 120px;
	border-radius: 100%;
}

#about .contact-details {
	width: 41.66667%;
}

#about .download {
	width: 58.33333%;
	padding-top: 6px;
}

#about .main-col {
	padding-right: 5%;
}

#about .download .button {
	margin-top: 6px;
	background: #444;
	color: #9df356;
}

#about .download .button:hover {
	background: #fff;
	color: #2B2B2B;
}

#about .download .button i {
	margin-right: 15px;
	font-size: 20px;
}

#resume {
	background: #fff;
	padding-top: 90px;
	padding-bottom: 72px;
	overflow: hidden;
}

#resume a,
#resume a:visited {
	color: #9df356;
}

#resume a:hover,
#resume a:focus {
	color: #313131;
}

#resume h1 {
	font: 18px/24px 'opensans-bold', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#resume h1 span {
	border-bottom: 3px solid #9df356;
	padding-bottom: 6px;
	line-height: 2em;
}

#resume h3 {
	font: 25px/30px 'opensans-bold', sans-serif;
}

#resume .header-col {
	padding-top: 9px;
}

#resume .main-col {
	padding-right: 10%;
}

.education,
.work,
.skills {
	margin-bottom: 48px;
	padding-top: 48px;
	padding-bottom: 24px;
	/* border-bottom: 1px solid #E8E8E8; */
}

#resume .info {
	font: 16px/24px 'librebaskerville-italic', serif;
	color: #383838;
	margin-bottom: 18px;
	margin-top: 9px;
}

#resume .info span {
	margin-right: 5px;
	margin-left: 5px;
}

#resume .date {
	font: 15px/24px 'opensans-regular', sans-serif;
	margin-top: 6px;
}

#publications {
	background: #f1f1f1;
	padding-top: 90px;
	padding-bottom: 60px;
}

#publications h1 {
	font: 24px/24px 'opensans-semibold', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	margin-bottom: 48px;
	color: #95A3A3;
}

#publications .publications-item {
	color: #0f0f0f;
	font: 16px/20px 'merriweather-regular', sans-serif;
	letter-spacing: 1px;
	border-bottom: 1px solid #a5a5a5;
	padding: 30px 50px;
}

#publications .publications-item .pub-title {
	font: 16px/20px 'librebaskerville-italic', serif;
	padding: 10px 0;
}

#publications .publications-item .pub-name {
	font: 14px/20px 'merriweather-bold', sans-serif;
}

#publications .publications-item .pub-link {
	text-decoration: solid underline;
	font: 14px/20px 'opensans-semibold', sans-serif;
	padding-top: 10px;
}

#publications .publications-item em {
	font: 16px/20px 'merriweather-bold', serif;
}

.flexslider a:active,
.flexslider a:focus {
	outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}

.slides li {
	margin: 0;
	padding: 0;
}

.flexslider {
	position: relative;
	zoom: 1;
	margin: 0;
	padding: 0;
}

.flexslider .slides {
	zoom: 1;
}

.flexslider .slides>li {
	position: relative;
}

.flexslider .slides>li {
	display: none;
	-webkit-backface-visibility: hidden;
}

.flex-container {
	zoom: 1;
	position: relative;
}

.slides:before,
.slides:after {
	content: " ";
	display: table;
}

.slides:after {
	clear: both;
}

.no-js .slides>li:first-child {
	display: block;
}

.slides {
	zoom: 1;
}

.slides>li {
	overflow: hidden;
}

.flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: -20px;
	text-align: left;
}

.flex-control-nav li {
	margin: 0 6px;
	display: inline-block;
	zoom: 1;
	display: inline;
}

.flex-control-paging li a {
	width: 12px;
	height: 12px;
	display: block;
	background: #ddd;
	background: rgba(255, 255, 255, .3);
	cursor: pointer;
	text-indent: -9999px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	box-shadow: inset 0 0 3px rgba(255, 255, 255, .3);
}

.flex-control-paging li a:hover {
	background: #CCC;
	background: rgba(255, 255, 255, .7);
}

.flex-control-paging li a.flex-active {
	background: #fff;
	background: rgba(255, 255, 255, .9);
	cursor: default;
}

footer {
	padding-top: 48px;
	padding-bottom: 48px;
	color: #303030;
	font-size: 14px;
	text-align: center;
	position: relative;
}

footer a,
footer a:visited {
	color: #c7c7c7;
}

footer a:hover,
footer a:focus {
	color: #9df356;
}

footer .copyright {
	margin: 0;
	padding: 0;
	color: rgb(152, 152, 152);
}

footer .copyright li {
	display: inline-block;
	margin: 0;
	padding: 0;
	line-height: 24px;
}

.ie footer .copyright li {
	display: inline;
}

footer .copyright li:before {
	content: "\2022";
	padding-left: 10px;
	padding-right: 10px;
	color: #9df356;
}

footer .copyright li:first-child:before {
	display: none;
}

footer .social-links {
	margin: 18px 0 30px 0;
	padding: 0;
	font-size: 30px;
}

footer .social-links li {
	display: inline-block;
	margin: 0;
	padding: 0;
	margin-left: 42px;
	color: #9df356;
}

footer .social-links li:first-child {
	margin-left: 0;
}

#go-top {
	position: absolute;
	top: -24px;
	left: 50%;
	margin-left: -30px;
}

#go-top a {
	text-decoration: none;
	border: 0 none;
	display: block;
	width: 60px;
	height: 60px;
	background-color: #767676;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	color: #9df356;
	font-size: 21px;
	line-height: 60px;
	border-radius: 100%;
}

#go-top a:hover {
	background-color: #9df356;
	color: white;
}

@keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to {
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@-webkit-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to {
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@-moz-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to {
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@-webkit-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to {
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

.stars {
	background: black url(../images/stars.png);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	z-index: -3;
}

.twinkling {
	width: 10000px;
	height: 100%;
	background: transparent url(../images/twinkling.png) repeat;
	background-size: 1000px 1000px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -2;
	-moz-animation: move-background 70s linear infinite;
	-ms-animation: move-background 70s linear infinite;
	-o-animation: move-background 70s linear infinite;
	-webkit-animation: move-background 70s linear infinite;
	animation: move-background 70s linear infinite;
}

.tag {
	font: 14px/24px 'opensans-regular', sans-serif;
	letter-spacing: 1px;
	background: #373233;
	display: inline-block;
	color: #fff;
	position: relative;
	padding: 4px 10px;
	border-radius: 10px;
	text-decoration: none;
	margin: 8px;
}

.tag:before {
	background: #9df356;
	width: 10px;
	height: 10px;
	content: "";
	display: inline-block;
	border-radius: 20px;
	margin: 0 5px 0 0;
}

.cover-bg {
	background: url(../images/bg.jpg);
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -4;
}

.section-cover {
	position: relative;
	height: 600px;
	min-height: 300px;
	width: 100%;
	background-size: 100% 50%;
   -webkit-background-size: 100% !important;
   text-align: center;
}

.education-cover {
   background: url(../images/education.jpg) no-repeat center center fixed;
}

.research-cover {
   background: url(../images/research.jpg) no-repeat center center fixed;
}

.service-cover {
   background: url(../images/service.jpg) no-repeat center center fixed;
}

.work-cover {
   background: url(../images/work.jpg) no-repeat center center fixed;
}

.skills-cover {
   background: url(../images/skills.jpg) no-repeat center center fixed;
}

.publications-cover {
   background: url(../images/publications.jpg) no-repeat center center fixed;
}

.proposals-cover {
	background: url(../images/proposals.jpg) no-repeat center center fixed;
}


#proposals {
	background: #2d2d2d;
	padding-top: 90px;
	padding-bottom: 60px;
}

#proposals h1 {
	font: 24px/24px 'opensans-semibold', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	margin-bottom: 48px;
	color: #9df356;
}

#proposals h2 {
	font: 20px/20px 'merriweather-bold', sans-serif;
	color: #d6d6d6;
}

#proposals .proposals-item {
	font: 16px/20px 'merriweather-light', sans-serif;
	letter-spacing: 1px;
	border-bottom: 1px solid #a5a5a5;
	padding: 30px 50px;
	color: rgb(220, 220, 220);
}

#proposals em {
	font: 16px/20px 'merriweather-bold', sans-serif;
}

#resume .item {
	padding-top: 20px;
}